html, body {
  margin: 0;
}

canvas {
  border: 1px solid black;
}

#title-screen {
  background: #000000;
  display: block;
  height: 550px;
  position: absolute;
  text-align: center;
  width: 1000px;
}

#tronlogo {
  display: block;
  margin: 175px auto 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 96px;
  margin: 200px auto 0px;
}

#countdown{
  align-items: center;
  color: #FFFFFF;
  left: 475px;
  position: absolute;
}

#start-game {
  border: none;
  background-color: #000000;
  color: #22dade;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  height: 40px;
  margin-top: 60px;
  width: 120px;
}

#start-game:hover {
  background-color: #333333;
}
