html, body {
  margin: 0;
  color: #22dade;
  font-family: 'Raleway', sans-serif;
}

canvas {
  border: 1px solid black;
}

#title-screen {
  background: #000000;
  display: block;
  height: 550px;
  position: absolute;
  text-align: center;
  width: 1000px;
}

#tronlogo {
  display: block;
  margin: 30px auto 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 96px;
  margin: 200px auto 0px;
}

h2{
  color: #FFFFFF;
  margin: 0 auto;
}

h4 {
  margin: 30px auto 5px;
}

h5 {
  margin: 0 auto;
}

#speed-container {
  display: flex;
  justify-content: center;
}

.speed-text {
  font-size: 14px;
  margin: 18px 30px 0 5px;
}

form {
  margin: 30px auto;
}

input[name="speed"] {
  margin: 20px 0;
}

.instructions {
  font-weight: 200;
  font-size: 16px;
}

input[name="players"] {
  margin: 25px 0;
}

#player-count {
  display: flex;
  justify-content: center;
}

.player-count-text {
  font-size: 14px;
  margin: 22px 30px 0 5px;
}

#countdown{
  align-items: center;
  color: #FFFFFF;
  left: 475px;
  position: absolute;
}

#next-round{
  background: #000000;
  display: none;
  height: 550px;
  position: absolute;
  text-align: center;
  width: 1000px;
}

#scores {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

p {
  color: #FFFFFF;
  margin: 20px 100px;
}

#victory-screen{
  background: #000000;
  display: none;
  height: 550px;
  position: absolute;
  text-align: center;
  width: 1000px;
}

#final-score {
  margin-top: 150px;
}

#new-game {
  margin-top: 50px;
}

.button-style {
  border: 1px solid #22dade;
  background-color: #000000;
  color: #22dade;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  height: 40px;
  margin-top: 30px;
  width: 120px;
}

.button-style:hover {
  background-color: #333333;
}
